*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #00008bcb;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .loader{
    display:flex;
    justify-content: space-evenly;
    padding: 0 2px;
}
.loader .loading{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 0.6s ease infinite
}

.loader .loading.one{
    animation-delay: 0.3s;
}

.loader .loading.two{
    animation-delay: 0.4s;
}

.loader .loading.three{
    animation-delay: 0.5s;
}

.loader .loading.four{
    animation-delay: 0.6s;
}
@keyframes load{
    0%{
        width: 50px;
        height: 50px;
    }
    50%{
        width: 40px;
        height: 40px;
    }
}
